body {
	font-family: Arial;
}

table {
	border-collapse: collapse;
    padding: 0;
    margin: 0;
}

td, th {
	border: solid thin gray;
	color: rgb(239,220,220);
}

th {
	white-space: pre-wrap;
	background-color: rgb(204,229,255);
	color: green;
}

td {
	padding: 0;
	text-align: right;
	font-family: Rockwell;
}

td:nth-child(2n+1) {
	background: rgb(243,86,107);
}

td:nth-child(2n) {
	background: rgb(242, 120, 120);
}

td:nth-child(1),td:nth-child(3) { 
	text-align: center; }

#container {
	margin-left: 4px;
}

#tableHere {
	margin-top: 1%;
}

#canvasDiv {
	margin-top: 2%;
	margin-left: 5%;
}

#balanceInput {
	width: 8em;
}

#rateInput {
	width: 4em;
}

#monthsInput {
	width: 3em;
}

#paymentInput {
	width: 8em;
}
