body {
	font-family: Helvetica, Arial, Serif;
	background-color: white;		
}

table {
	border-collapse: collapse;
  padding: 0;
}

td, th {
	border: solid thin gray;
	white-space: pre-wrap;
}

th {
	font-weight: normal;
	background-color: rgb(204,229,255);
	color: green;
}

td {
	font-family: Lucida Console, Consolas;
	padding: 0;
	text-align: right;
	color: rgb(239,220,220);
}

td:nth-child(2n+1) { background-color: rgb(243,86,107); }

td:nth-child(2n) { background-color: rgb(242, 120, 120); }

td:nth-child(1),td:nth-child(2) { 
	text-align: center; }

tr:hover td { background: #b19cd9; }

#container {
	text-align: center;
}

#container table {
	margin: 0 auto; 
  text-align: left;
}

#tableHere {
	margin-top: 1%;
}

#canvasDiv {
	margin-top: 2%;
	margin-left: 5%;
}

#balance, #payment { width: 8em; }
#rate { width: 4em; }
#months { width: 3em; }

tr.selected td { background: green; }